body {
  padding: 0;
  margin: 0;
  background: #030303;
}

.div,
body,
.row,
html {
  background: #030303;
}


* {
  margin: 0; padding: 0;
}

#container {
  overflow: hidden;
  height: 50%;
  background: #030303;
  position: relative;
  padding-bottom: 30px;
}

.well {
  margin: auto;
  position: relative;
  margin: auto;
  width:100%;
  background:	#282828;
  color: #ffffff;
  padding-bottom: 30px; 
}

select {
  color: #000000;
}

h5 {
  padding-top: 10px;
}